@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This Web Application is the first creation of me that uses C# as programming language and asp.net as framework.</a>.</p>
</div>
